
<main class="TodoAppMain">
  <h1 class="TodoListTitle">My Todo-list</h1>
  <form class="AddTodo" action="/todos" method="POST">
    <input class="AddTodo-text" type="text" placeholder="New todo text" name="todo_text"/>
    <input type="Date" class="AddTodo-date" name="due_date"/>
    <input class="AddTodo-button" type="submit" value="Add" />
  </form>
  <%=render partial: "todos_section", locals: {
    section_title:"Overdue",
    todos: Todo.overdue,
    show_due_date:true
  }  %>
  <%=render partial: "todos_section", locals: {
    section_title:"Due Today",
    todos: Todo.due_today,
    show_due_date: false
  }  %>
  <%=render partial: "todos_section", locals: {
    section_title:"Due Later",
    todos: Todo.due_later,
    show_due_date: true
  }  %>
</main>
